.mainCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tHeading{
    margin-left: 160px;
}
.main2 {
    display: flex !important;
    flex-wrap: wrap;
    margin: 24px;

}

.subCard {
    flex: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    word-break: break-all;
    min-height: 300px;
    width: 200px;
}


/*
.mainCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.subCard {
    flex: 1 0 100%;
    margin: 24px;
    text-align: center;
    word-break: break-all;
}*/