<h3>ADD A TASK</h3>
<mat-card class="cardAdd2">
<form class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput id="title" name="title"   [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput name="desc" id="desc" type="text" [(ngModel)]="desc"></textarea>
    </mat-form-field>
    <div class="addButton">
    <button  mat-raised-button [disabled]="!title || !desc" type="Submit" color="primary">Add Task</button>
    </div>
</form>
</mat-card>