.strike {
    text-decoration: line-through;
}

.hCT {
    border-bottom: 0.3px solid #50a5ef;
}

.m2 {
    display: flex;
}

.cardA {
    display: flex;
    word-break: break-all;
    min-height: 200px;
    width: 300px;
    padding: 10px;
    max-height: 100%;
}

p.collapsed {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-bottom: 0;
}



.isCollapsed {
    width: 100%;
}






/*
.myDesc {
    text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
        

}


.myDesc:active{
    overflow: visible;
    -webkit-line-clamp: inherit;
    cursor: pointer;
}*/
.expAcol {
    width: 30%;
}

.exp {
    cursor: pointer;
    color: #50a5ef;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 20px;
}
.exp:hover{
    background-color: rgba(3, 182, 252, 0.1);
}
.col {
    cursor: pointer;
    color: #50a5ef;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}
.col:hover{
    background-color: rgba(3, 182, 252, 0.1);
}

.cad {
    margin-top: 16px;
}

.checkBox {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    margin-top: 10px;
}


.deleteIcon {
    position: absolute;
    bottom: 0;
    right: 0;
}