.strike {
    text-decoration: line-through;
}

.hCT {
    border-bottom: 0.3px solid #ef5350;
}

.m2 {
    display: flex;
}

.cardA {
    position: relative;
    display: flex;
    word-break: break-all;
    height: 200px;
    width: 300px;
    padding: 10px;
}

.cardA>p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;

}

.cardA>p:hover {
    overflow: visible;
}


.checkBox {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
}


.deleteIcon {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
}